Repository ckb-next/ckb-next, pull requests merged in 2018-08, with the labels that each got.

#206 Created a Docker image that creates ckb_next debs for Ubuntu 18.04
  CMakeLists.txt
  linux/debian/DOCKER/BUILD_CREATE_DOCKER.md
  linux/debian/DOCKER/Dockerfile
  linux/debian/DOCKER/entry_point.sh
  linux/debian/postinst
Labels: Linux, enhancement, packaging

#217 Update udev rules to create symlinks for devices
  linux/udev/99-ckb-daemon.rules
Labels: Linux, cleanup

#231 Force a frame to the daemon on profile switch
  src/gui/kb.cpp
  src/gui/kblight.cpp
  src/gui/kblight.h
Labels: GUI, bug

#237 Fix DPI indicator not switching to sniper/other
  src/gui/kbperf.cpp
  src/gui/kbperf.h
Labels: bug, device-m65-pro
